* {
  text-transform: capitalize;
}

iframe {
  display: block;
  width: 100%;
}

.searchButton {
  width: 10%;
}

/* CARD COMPONENTS */
.card-img {
  width: 100%;
  height: 180;
}

.card-title {
  text-transform: capitalize;
  letter-spacing: normal;
}

.search-banner {
  font-size: 1rem;
  margin-top: 1.5rem;
}

.react-player {
  height: 72vh !important;
  width: 100% !important;
}

/* DISPLAY COMPONENTS */
.channel-title {
  font-weight: bold;
  color: black;
}

.video-title {
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: normal;
}

/* PAGINATION COMPONENTS */

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  gap: 10px;
}

.pagination .page-number {
  font-size: 16px;
  font-weight: 600;
  color: red;
  background: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.pagination .page-number:hover {
  color: #fff;
  background: grey;
}

.pagination .active {
  color: #fff;
  background: grey;
}

.pagination .active:hover {
  color: grey;
  background: #fff;
}

.paginate-column {
  margin: 0;
}

/** SOUND COMPONENTS */

.sound-label {
  letter-spacing: -1px;
  text-transform: capitalize;
}

.slider {
  width: 75%;
}
