iframe {
  display: block;
  width: 100%;
}

.searchButton {
  width: 10%;
}

/* CARD COMPONENTS */
.card-img {
  width: 100%;
  height: 180;
}

.card-title {
  text-transform: capitalize;
}

.search-banner {
  font-size: 1rem;
  margin-top: 1.5rem;
}

.react-player {
  height: 77vh !important;
  width: 100% !important;
}

/* DISPLAY COMPONENTS */
.channel-title {
  font-weight: bold;
  color: black;
}

.video-title {
  font-weight: bold;
}

/* PAGINATION COMPONENTS */

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  gap: 20px;
}

.pagination .page-number {
  font-size: 16px;
  font-weight: 600;
  color: #00a8ff;
  background: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.pagination .page-number:hover {
  color: #fff;
  background: #00a8ff;
}

.pagination .active {
  color: #fff;
  background: #00a8ff;
}

.pagination .active:hover {
  color: #00a8ff;
  background: #fff;
}
