* {
  text-transform: capitalize;
}

iframe {
  display: block;
  width: 100%;
}

.searchButton {
  width: 10%;
}

/* CARD COMPONENTS */
.card-img {
  width: 100%;
  height: 180;
}

.card-title {
  text-transform: capitalize;
  letter-spacing: normal;
}

.search-banner {
  font-size: 1.2rem;
  margin-top: 2rem;
}

.react-player {
  height: 62vh !important;
  width: 100% !important;
}

/* DISPLAY COMPONENTS */
.channel-title {
  font-weight: bold;
  color: black;
}

.video-title {
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: normal;
}

/* PAGINATION COMPONENTS */

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  gap: 10px;
}

.pagination .page-number {
  font-size: 16px;
  font-weight: 600;
  color: red;
  background: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.pagination .page-number:hover {
  color: #fff;
  background: grey;
}

.pagination .active {
  color: #fff;
  background: grey;
}

.pagination .active:hover {
  color: grey;
  background: #fff;
}

.paginate-column {
  margin: 0;
}

/** SOUND COMPONENTS */

.sound-label {
  letter-spacing: -1px;
  text-transform: capitalize;
}

.slider {
  width: 75%;
}

.icon-prop {
  height: 6rem;
  width: 6rem;
  margin-right: 1rem;
}

.play-button-section {
  margin-top: 1.5rem;
  margin-left: 1.5rem;
}

.footer-section {
  background-color: black;
}

.search-section {
  display: flex;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.search-bar {
  flex-grow: 2;
}

.search-button {
  flex-grow: 1;
  width: 10%;
}

footer {
  background-color: #1a1a1a;
  font-size: 18px;
  color: #fff;
  padding: 35px;
  text-align: center;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  min-height: 100%;
  padding-bottom: 6.74rem;
}

.display-container {
  margin-top: 2rem;
}

.video-ambience-container {
  width: 80%;
  position: sticky;
  top: 86px;
  margin-right: 0px;
}

.accordion {
  margin-bottom: 2rem;
}

.search-feed-view {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.sound-box-container {
  display: flex;
  justify-content: center;
}

.navbar-container {
  background-color: #1a1a1a;
}

.buffer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20rem;
}

.spinner-container {
  align-items: center;
  justify-content: center;
}

.spinner {
  display: flex;
  align-items: center;
}